.card-home-img {
    width: 100%;
    height: 180px;
}

.produk-card {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 5px;
}

#produk-card-container {
    display:flex;   
    flex-wrap: wrap;
} 

@media (max-width: 1199.98px) { 

}
@media (max-width: 991.98px) { 
    .produk-card {
        flex-basis: 46%;
    }
}
@media (max-width: 767.98px) { 

}
@media (max-width: 575.98px) { 
    .card-home-img {
        height: 250px;
    }
    #produk-card-container {
        flex-direction: column;
    }
}



